#contact_modal {
  display: none;
  position: absolute;
  top: 3rem;
  margin: 0 auto;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.photograph-header {
  width: 90%;
  margin: 0 auto;
}
.photographer-header-article {
  margin: 2rem 0 2rem 0;
}
.contact_button {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding: 0.6875rem;
  width: 10.625rem;
  height: 4.375rem;
  border: none;
  background-color: #901c1c;
  border-radius: 0.3125rem;
  cursor: pointer;
  order: 2;
}
.contact_button:hover,
.contact_button:focus {
  background-color: #d3573c;
  color: #000;
}
.modal {
  border-radius: 0.3125rem;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.1875rem;
  margin: auto;
}

.modal-header {
  justify-content: space-between;
  width: 100%;
  margin: 0 2rem 4rem;
}

.modal-close {
  position: relative;
  top: -1.875rem;
  cursor: pointer;
}

.modal header h2 {
  font-size: 3rem;
  font-weight: normal;
}

form {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 2.25rem;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 1.625rem;
}

form input {
  width: 100%;
  height: 4.25rem;
  border: none;
  border-radius: 0.3125rem;
}
input[name="message"] {
  height: 10rem;
}
.name-photographer {
  color: #d3573c;
  font-size: 2rem;
  order: 1;
}
.photographer-identity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem 0;
  padding: 2rem;
  border-radius: 0.3125rem;
  background-color: #fafafa;
}
.photographer-identity h3 {
  color: #901c1c;
  font-size: 1.3rem;
}

.encart {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-around;
  background-color: #db8876;
  border-radius: 0.3125rem;
  width: 17.5rem;
  height: 3.375rem;
  position: fixed;
  right: 1rem;
  bottom: 0;
}
.likes {
  margin-right: 1rem;
}
.fa-heart {
  font-size: 1rem;
  padding-left: 0.3rem;
}
.list-images {
  width: 100%;
  margin-bottom: 5rem;
}
.list-article {
  display: grid;
  grid-template-columns: repeat(3, calc((97%) / 3));
  gap: 1rem;
}
.list-photos-photographer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.list-photos-conteneur {
  width: 100%;
  height: 20rem;
}
.list-photos {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3125rem;
}
.list-photos-description {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  color: #901c1c;
}
video {
  width: 100%;
  height: 100%;
}
.select-sort {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 2rem 0 2rem 1rem;
}
.select-menu {
  position: relative;
  top: 0.6875rem;
  height: 6rem;
  display: none;
}
.select-menu li {
  list-style: none;
  line-height: 2.5rem;
  padding-left: 1rem;
  color: #fff;
}

hr {
  width: 8rem;
  margin: 0 auto;
}
.btn-filter {
  position: relative;
  height: 2rem;
  background-color: #901c1c;
  border: none;
  width: 9rem;
  border-radius: 0.3125rem;
}

.txt-filter {
  display: inline;
  position: absolute;
  font-size: 1rem;
  left: 1rem;
  top: 0.5rem;
  color: #fff;
}
.chevron-filter {
  position: absolute;
  color: #fff;
  top: 0.6rem;
  right: 1rem;
}
.dropdown {
  width: 9rem;
  position: absolute;
  top: 2rem;
  left: 7rem;
  border-radius: 0.3125rem;
  background-color: #901c1c;
  z-index: 1;
}
.show {
  display: block;
}
/* .ligthBox {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  border: 0.0625rem solid black;
} */
/***********************************************************************/
.conteneurImage {
  width: 20rem;
  height: 20rem;
}
.conteneurImages {
  position: relative;
  display: flex;
  /* width: 380rem; */
  height: 38rem;
}
ul {
  list-style: none;
  position: relative;
  overflow: hidden;
  padding: 0;
}
.li-image {
  display: inline-block;
  position: relative;
  width: 38rem;
  height: 35rem;
  padding: 1rem 2rem;
  top: -0.25rem;
}
.conteneurLightBox {
  /* height: 39rem; */
  width: 38rem;
  height: 38rem;
  position: relative;
  overflow: hidden;
}
.lightBox {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 40rem;
  overflow: hidden;
}
.icon-close {
  font-size: 2rem;
  color: #901c1c;
  position: absolute;
  top: 0.125rem;
  right: 0.1rem;
  z-index: 3;
}
.lightBox-photo {
  border-radius: 0;
}
.arrow-left,
.arrow-right {
  font-size: 2rem;
  color: #901c1c;
  position: absolute;
  top: 50%;
  z-index: 5;
}
.arrow-right {
  right: 0;
}
.title-photo {
  color: #901c1c;
}
