@import url('photographer.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'DM Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.62rem;
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #901c1c;
}
a {
  text-decoration: none;
  text-align: center;
}
.logo {
  height: 3.12rem;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.37rem;
  margin-top: 6.25rem;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 2rem;
  margin-bottom: 0;
}

.photographer_section article img,
.photographer-portrait {
  height: 12.5rem;
  width: 12.5rem;
  object-fit: cover;
  border-radius: 50%;
  overflow-clip-margin: unset;
}
.photographer-portrait {
  order: 3;
}
#price-label {
  display: none;
}
.photographer-description {
  text-align: center;
  line-height: 1rem;
}
.photographer-description h3 {
  color: #901c1c;
  font-size: 0.81rem;
}
.photographer-description p:first-of-type {
  font-size: 0.62rem;
  font-weight: bold;
}
.photographer-description:last-child {
  color: #525252;
  font-size: 0.56rem;
}
